.App {
  text-align: center;
  /* background-color: #282c34; */
  /* display: flex;
  flex-wrap: wrap; */
  width: 100vh;
}

.App-header {
  /* background-color: white; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.Table {
  background-color: burlywood;
}

.instructions {
  text-align: left;
  /* color: lavender; */
}
img {
  height:80px;
}